# Rails
/backend/log/*
/backend/tmp/*
/backend/storage/*
/backend/.env

# Ruby
/backend/vendor/bundle
/backend/.bundle

# Docker / env
.env

# OS / Editor
.DS_Store
.vscode/
.idea/

# REST Client
api-requests/task.http